.login {
  width: 350px;
  height: 500px;
  background: #eee;
  border: 1px solid #444;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login form input {
  padding: 10px;
  display: block;
  margin-left: 15px;
  margin-top: 15px;
}
