.edit-message-modal {
  width: 700px;
  height: 500px;
  background: #fff;
  position: absolute;
  top: 150px;
  border: 1px solid #444;
  display: none;
}

.modal-shown {
  padding: 15px;
  display: block;
}

.edit-message-input {
  width: 150px;
  height: 25px;
  padding: 10px;
}
.edit-btn {
  position: absolute;
  top: 250px;
  left: 100px;
  padding: 15px;
  margin-left: 75px;
}
.edit-message-button {
  left: 200px;
}
