.user-block {
  display: flex;
}
.user-block .item {
  padding: 10px;
  border: 1px solid black;
}
.user-login,
.user-password,
.user-role {
  text-align: center;
  width: 20%;
}
.user-block button {
  width: 20%;
}
.info {
  margin-bottom: 20px;
}
